<div class="container mx-auto p-4">
  <!-- Header Section -->
  <div class="flex flex-col sm:flex-row gap-6 items-center mb-4">
    <h1 class="text-2xl font-bold">Lista de Tareas</h1>
    <a class="text-blue-500 font-semibold mt-2 sm:mt-0 underline" routerLink="/tasks/task-form">Crear Tareas</a>
  </div>

  <!-- Filter Component -->
  <app-filter [filters]="filters" (filterByStatus)="onFilterChange($event)" class="mb-4"></app-filter>

  <!-- Table Section -->
  <div class="w-full overflow-x-auto mt-4">
    <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
      <thead>
        <tr class="bg-blue-500 text-white">
          <th class="py-3 px-4 border-b">Nombre de la Tarea</th>
          <th class="py-3 px-4 border-b">Fecha Límite</th>
          <th class="py-3 px-4 border-b">Estado</th>
          <th class="py-3 px-4 border-b">Personas Asociadas</th>
          <th class="py-3 px-4 border-b">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="tasks$ | async as tasks;">
          <tr *ngIf="!tasks.length">
            <td colspan="5" class="text-center py-4 text-black">No hay tareas disponibles.</td>
          </tr>
          <tr *ngFor="let task of tasks" class="hover:bg-gray-100 transition duration-200">
            <td class="py-2 px-4 border-b">{{ task.name }}</td>
            <td class="py-2 px-4 border-b">{{ task.deadline | date }}</td>
            <td class="py-2 px-4 border-b"
              [ngClass]="{ 'text-green-500': task.completed, 'text-red-500': !task.completed }">
              {{ task.completed ? 'Completada' : 'Pendiente' }}
            </td>
            <td class="py-2 px-4 border-b">
              <div *ngFor="let person of task.people" class="flex flex-col">
                <span>{{ person.name }} (Edad: {{ person.age }})</span>
                <span class="text-blue-500 font-medium" *ngFor="let skill of person.skills;">
                  - {{ skill }}
                </span>
              </div>
            </td>
            <td class="py-2 px-2 border-b">
              <div class="flex flex-col sm:flex-row sm:gap-1">
                <button (click)="toggleCompletion(task)"
                  class="px-2 py-1 text-white bg-blue-500 hover:bg-blue-600 rounded transition duration-200">
                  {{ task.completed ? 'Pendiente' : 'Completar' }}
                </button>
                <button (click)="deleteTask(task.id)"
                  class="mt-2 sm:mt-0 p-2 text-white bg-red-500 rounded hover:bg-red-600 transition duration-200">
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
